<div class="row pull-left">
  <div class="span8 well">
    <div class="span6">
      <h4><%= album.title %></h4>
      <p><%= album.artist %></p>
    </div>
    <ul class="pull-right unstyled text-right">
      <li><%= album.release_year %></li>
      <li><%= album.catalog_number %></li>
      <li><%= album.record_label %></li>
      <li><%= link_to 'edit', edit_collection_album_path(@collection, album) %></li>
      <li><%= link_to 'remove', collection_album_path(@collection, album, user: @user), method: :delete %></li>
    </ul>
  </div>
</div>
