<div class="row">
  <div class="span8 well">
    <div class="span6">
      <h4><%= album.title %></h4>
      <p><%= album.artist %></p>
    </div>
    <ul class="pull-right unstyled">
      <li><%= album.release_year %></li>
      <li><%= album.catalog_number %></li>
      <li><%= album.record_label %></li>
    </ul>
  </div>
</div>
